.background{
    background-color: rgb(205, 189, 169);
}
.main{
    
    font-size: 60px;
    font-weight: bold;
   
}
.first{
    text-align: left;
    font-size: 35px;
    color: rgb(194, 38, 38);
    font-family:Georgia, 'Times New Roman', Times, serif;
    
}
.sec{
    text-align: left;
    font-size: 20px;
    color: #671e1e;
    font-family:Georgia, 'Times New Roman', Times, serif;
}
.thrd{
    text-align: center;
    font-size: 60px;
    font-weight: bold;
    text-underline-offset: below;
}
.Qua{
    text-align: left;
    font-size: 15px;

}
.pen{
    text-align: center;
}
.mega{
    text-align: left;
    font-size: 45px;
    color:rgb(194, 38, 38); ;
}
.paza{
    text-align: left;
    font-size: 20px;
    color: #671e1e;
    font-family:Georgia, 'Times New Roman', Times, serif;
}
.zoomable-image {
    transition: transform 0.15s;
}
.zoomable-image:hover {
    transform: scale(1.05);
}
.nav{
    padding: 20px;
    display: flex;
    background-color: #ffffff;

}
.nav a{
    padding: 0px 40px;
}
.nav a:hover{
    background-color: #7bc3d0;
    padding: 5px;
}
.squar{
    border: #ffffff;
    border-style: groove;
    border: radius 5px; 
    border-color: #ffffff;
    margin: 50px;
}
.photo{
    border: #ffffff;
    border-style: outset;
    border-radius: 5px;
    margin: 150px;
}
.below {
    font-size: 20px;

}